/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.rrze-hello-lenny {
    padding: 1rem 2rem;
    &.shortcode {
        border-style: solid;
    }
    &.block {
        border-style: dotted;
    }
    .wouf-ucfirst {
        text-transform: lowercase;
    }
    
    .wouf-ucfirst::first-letter {
        text-transform: uppercase;
    }
    
    .wouf-uppercase {
        text-transform: uppercase;
    }

    .wouf-lowercase {
        text-transform: uppercase;
    }
    .wouf-small {
        font-size: 1rem;
        padding: 1rem;
    }
    .wouf-large {
        font-size: 2.5rem;
        padding: 2.5rem;
    }
    .wouf-xlarge {
        font-size: 4rem;
        padding: 4rem;
    }
}
